#door-container {
    display: flex;
    justify-content: space-around;
    position: relative;
}

#door-container img {
    width: 100px;
    height: 200px;
    position: absolute;
}

.behind-door {
    width: 100px;
    height: 200px;
    position: absolute;
    z-index: 0;
}

.door {
    z-index: 1;
}