#contenedor-puertas {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.contenedor-puerta {
    position: relative;
    width: 200px;
    height: 400px;
}

.puerta, .detras-puerta {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.detras-puerta {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#contenedor-boton {
    text-align: center;
    margin-top: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(83, 103, 129);
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 10px;
    font-size: 2em;
    color: #272829;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 10px;
}

#monty-hall {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: flex-end;
}

#monty-hall img {
    width: 125px;
    cursor: pointer;
}

#modal {
    display: none;
    position: fixed;
    bottom: 40px;
    left: 170px;
    background-color: #f1f0db;
    border-radius: 10px;
    padding: 15px;
    max-width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
    z-index: 9999;
}

.modal p {
    margin: 0;
    font-size: 1rem;
    color: #333;
    line-height: 1.4;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}